.nav-bar-container {
  //overflow: hidden;
  height: 64px;
  background-color: #d9dbe1;
  display: flex;

  .left-bar {
    height: 100%;
    width: 70%;
    //border: 1px solid red;
    a {
      margin: 0 3px;
      float: left;
      color: #89898b;
      text-align: center;
      align-items: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      //border: 1px solid red;
      border-radius: 10px;
      width: 100px;
      height: 64px;
    }
    a:not(.nohover):hover {
      background-color: #a1a1a1;
      color: black;
    }
    a.active {
      // hr {
      //   visibility: visible;
      // }
      background-color: #a1a1a1;
      color: #000000;
    }

    a.noactive {
      background-color: #d9dbe1;
    }

    .icon {
      width: 35px;
      height: 35px;
      color: rgb(53, 53, 209);
    }
  }

  .right-bar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
    // border: 1px solid red;
    a {
      margin: 0 3px;
      float: left;
      color: rgb(53, 53, 209);
      text-align: center;
      align-items: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      //border: 1px solid red;
      border-radius: 10px;
      width: 100px;
      height: 35px;
    }
  }
}
