.home-container {
  //display: flex;
  //justify-content: center;
  //text-align: center;
  margin-top: 10px;
  .icon {
    // font-size: 50px;
    background: gray;
    width: 10px;
    height: 10px;
    // display: flex;
    color: white;
  }
}
