.modal-add-new-post-container {
  // border: 1px solid red;
  width: 95%;
  height: 300px;
  margin: 0 auto;
  padding: 10px;

  .user {
    // border: 1px solid red;
    margin-bottom: 10px;
    .icon {
      width: 25px;
      height: 25px;
      color: rgb(53, 53, 209);
      margin-right: 10px;
    }

    .name {
      font-weight: bold;
    }
  }

  textarea {
    border: 0px;
    outline: none;
    padding: 7px;
    font-size: 23px;
    width: 100%;
    height: 80%;
    white-space: pre-wrap;
    resize: none;
  }

  textarea:focus {
    border: 0px;
  }
}

.footer-container {
  width: 100%;
  // border: 1px solid red;
  .btn {
    width: 95%;
    border-radius: 10px;
  }
}
